Repository Feustey/MCP: changes, and which pre-commit hooks are due for each by the changed paths.
All: prevent-eval, check-secrets, validate-env-files

.pre-commit-config.yaml:

# Pre-commit hooks for MCP Security
# Generated by Claude Code - Security Audit
# üîí Prevents committing security vulnerabilities

repos:
  # Security: Prevent secrets from being committed
  - repo: https://github.com/Yelp/detect-secrets
    rev: v1.4.0
    hooks:
      - id: detect-secrets
        args: ['--baseline', '.secrets.baseline']
        exclude: .*\.lock$

  # Security: Check for common security issues
  - repo: https://github.com/PyCQA/bandit
    rev: 1.7.5
    hooks:
      - id: bandit
        args: ['-r', '.', '-f', 'json', '-o', 'bandit-report.json']
        exclude: ^(tests/|venv/|venv_new/|venv_rag/)

  # Code formatting and linting
  - repo: https://github.com/psf/black
    rev: 23.12.1
    hooks:
      - id: black
        language_version: python3

  # Import sorting
  - repo: https://github.com/PyCQA/isort
    rev: 5.13.2
    hooks:
      - id: isort

  # Remove trailing whitespaces and fix line endings
  - repo: https://github.com/pre-commit/pre-commit-hooks
    rev: v4.5.0
    hooks:
      - id: trailing-whitespace
      - id: end-of-file-fixer
      - id: check-yaml
      - id: check-json
      - id: check-merge-conflict
      - id: check-added-large-files
        args: ['--maxkb=1000']
      - id: check-case-conflict
      - id: mixed-line-ending

  # Security: Prevent eval() usage
  - repo: local
    hooks:
      - id: prevent-eval
        name: Prevent dangerous eval() usage
        entry: bash -c 'if grep -r "eval(" --include="*.py" src/ app/ 2>/dev/null | grep -v "json.loads\|ast.literal_eval"; then echo "‚ùå Dangerous eval() usage found!"; exit 1; fi'
        language: system
        files: \.py$

  # Security: Check for hardcoded secrets patterns
  - repo: local
    hooks:
      - id: check-secrets
        name: Check for hardcoded secrets
        entry: bash -c 'python scripts/security_cleanup.py --scan-only'
        language: system
        files: \.(py|yml|yaml|sh|env)$

  # Security: Validate environment files
  - repo: local
    hooks:
      - id: validate-env-files
        name: Validate .env files don't contain real secrets
        entry: bash -c 'if find . -name "*.env" -not -name "*.env.example" -not -name "*.env.template" | xargs grep -l "CHANGE_ME" 2>/dev/null; then echo "‚úÖ .env files contain CHANGE_ME placeholders"; else echo "‚ùå .env files may contain real secrets!"; exit 1; fi'
        language: system
        files: \.env.*

  # Documentation: Ensure critical files are documented
  - repo: local
    hooks:
      - id: check-security-docs
        name: Check security documentation
        entry: bash -c 'if [ ! -f "SECURITY.md" ] && [ ! -f "README_SECURITE.md" ]; then echo "‚ö†Ô∏è  Consider adding SECURITY.md file"; fi'
        language: system
        always_run: true

# Configuration
default_stages: [pre-commit]
fail_fast: false

# Custom settings
ci:
  autofix_commit_msg: |
    [pre-commit.ci] auto fixes from pre-commit hooks
    
    for more information, see https://pre-commit.ci
  autofix_prs: true
  autoupdate_branch: ''
  autoupdate_commit_msg: '[pre-commit.ci] pre-commit autoupdate'
  autoupdate_schedule: weekly
  skip: []
  submodules: false

📊 Monitoring Production - Active et Collecte en Cours
  MONITORING-GUIDE.md
  MONITORING-STATUS.md
  analyze_metrics.py
  data/analysis_reports/analysis_20250930_195758.json
  logs/monitor.pid
  monitor_production.py
  monitoring_data/monitoring_20250930.json
  start_monitoring.sh
Due: prevent-eval, check-secrets

🔧 Fix: Correction alertes Telegram monitoring
  app/main.py
  app/routes/analytics.py
  app/routes/channels.py
  app/routes/chatbot.py
  app/routes/health.py
  app/routes/metrics.py
  app/routes/rag.py
  app/routes/wallet.py
  monitor_production.py
  src/monitoring/connectivity_monitor.py
Due: prevent-eval, check-secrets

feat améliorations RAG
  DEPLOYMENT_CHECKLIST.md
  DEPLOYMENT_PREPARATION_REPORT.md
  DEPLOYMENT_SUMMARY.txt
  DEPLOY_COMMANDS.sh
  DEPLOY_HOSTINGER_PRODUCTION.md
  FILES_CREATED_V2.md
  IMPLEMENTATION_SUCCESS_SUMMARY.md
  MONGODB_REDIS_LOCAL_CHANGES.md
  OLLAMA_OPTIMIZATION_GUIDE.md
  QUICKSTART_HOSTINGER_DEPLOY.md
  QUICKSTART_V2.md
  ROADMAP_IMPLEMENTATION_COMPLETE.md
  START_HERE_DEPLOY.txt
  app/routes/streaming.py
  app/services/rag_metrics.py
  app/services/recommendation_feedback.py
  app/services/recommendation_scorer.py
  deploy_simple.sh
  deploy_to_hostinger.sh
  deploy_to_hostinger_auto.exp
  docker-compose.production.yml
  mcp-deployment-package.tar.gz
  prompts/lightning_recommendations_v2.md
  scripts/backup_daily.sh
  scripts/cache_warmer.py
  scripts/setup_ollama_models.sh
  scripts/test_ollama_recommendations.py
  scripts/validate_deployment.sh
  src/clients/ollama_client.py
  src/intelligent_model_router.py
  src/ollama_rag_optimizer.py
  src/ollama_strategy_optimizer.py
  src/rag_batch_optimizer.py
  src/utils/circuit_breaker.py
  src/vector_index_faiss.py
Due: prevent-eval, check-secrets

CI/CD
  .github/ISSUE_TEMPLATE/deployment_issue.md
  .github/PULL_REQUEST_TEMPLATE.md
  .github/README.md
  .github/workflows/deploy-production.yml
  .github/workflows/rollback.yml
  .github/workflows/tests.yml
  .gitignore
  CHANGELOG_V2.md
  CICD_IMPLEMENTATION_COMPLETE.md
  CICD_QUICKSTART.md
  FILES_CREATED_CICD.md
  FILES_CREATED_SESSION_V2.txt
  FINAL_VALIDATION_INSTRUCTIONS.md
  GIT_ADD_V2_FILES.sh
  IMPLEMENTATION_SUMMARY_VISUAL.txt
  INDEX.md
  INDEX_V2_COMPLETE.md
  MCP_V2_COMPLETE_SUMMARY.md
  NEXT_STEPS.md
  OLLAMA_INTEGRATION_GUIDE.md
  OLLAMA_OPTIMIZATION_COMPLETE.md
  README_MCP_V2.md
  SESSION_COMPLETE_V2_IMPLEMENTATION.md
  START_HERE_CICD.md
  START_HERE_V2.md
  TLDR_V2.md
  check_files_v2.sh
  docs/CICD_SETUP.md
  docs/DEPLOYMENT_RUNBOOK.md
  requirements-production.txt
  scripts/cache_warmer.py
  scripts/check_cicd_setup.sh
  scripts/ci_deploy.sh
  scripts/test_ollama_recommendations.py
  scripts/validate_all_optimizations.py
  🎉_IMPLEMENTATION_COMPLETE_V2.md
Due: prevent-eval, check-secrets

fix(deps): Add missing tiktoken dependency for RAG system
  RAPPORT_DEPLOIEMENT_17OCT2025.md
  RAPPORT_FINAL_DEPLOIEMENT_18OCT2025.md
  SOLUTION_DEPLOIEMENT_18OCT2025.md
  requirements-hostinger.txt
  requirements-production.txt
  src/rag_optimized.py
Due: prevent-eval, check-secrets

feat(rag): Migration vers llama3.1:8b et optimisation mémoire Ollama
  CHANGEMENTS_MODELE_LEGER.md
  DEPLOY_READY_20OCT2025.md
  GUIDE_DEPLOIEMENT_RAG_LEGER.md
  STATUT_FINAL_20OCT2025.md
  config/rag_config.py
  docker-compose.hostinger-production.yml
  docker-compose.hostinger.yml
  env.hostinger.example
  env.production.example
Due: prevent-eval, check-secrets

feat(deploy): Scripts de correction et documentation déploiement 20 Oct 2025
  DEPLOIEMENT_REUSSI_20OCT2025.md
  GUIDE_CORRECTION_RAPIDE_20OCT2025.md
  INDEX_CORRECTIONS_20OCT2025.md
  RAPPORT_CORRECTIONS_20OCT2025.md
  RESUME_SESSION_20OCT2025.md
  START_HERE_20OCT2025.md
  config/__init__.py
  deploy_corrections.sh
  deploy_rag_production.sh
  scripts/check_ollama_models.sh
  scripts/fix_mongodb_auth.sh
  scripts/pull_lightweight_models.sh
  scripts/test_deployment_complete.sh
  venv_rag/bin/Activate.ps1
  venv_rag/bin/activate
  venv_rag/bin/activate.csh
  venv_rag/bin/activate.fish
  venv_rag/bin/pip
  venv_rag/bin/pip3
  venv_rag/bin/pip3.9
  venv_rag/bin/python
  venv_rag/bin/python3
  venv_rag/bin/python3.9
  venv_rag/pyvenv.cfg
Due: prevent-eval, check-secrets

docs: Rapport de déploiement 21 octobre 2025 - 85% opérationnel
  STATUT_DEPLOIEMENT_21OCT2025.md
Due: none

docs: Rapport final déploiement 21 oct - 70% opérationnel, blocage espace disque
  STATUT_FINAL_21OCT2025_MATIN.md
Due: none

feat: Implement Daily Reports System v1.0.0
  DAILY_REPORTS_INDEX.md
  DEPLOYMENT_DAILY_REPORTS.md
  IMPLEMENTATION_SUMMARY.md
  QUICK_START_DAILY_REPORTS.md
  README_DAILY_REPORTS.md
  app/main.py
  app/routes/daily_reports.py
  app/scheduler/daily_report_scheduler.py
  app/services/daily_report_generator.py
  config/models/daily_reports.py
  docs/api-daily-reports.md
  docs/user-guide-daily-reports.md
  requirements-production.txt
  scripts/deploy_daily_reports.sh
  tests/test_daily_reports.py
Due: prevent-eval, check-secrets

feat: Add simplified production deployment script
  DEPLOY_NOW_PRODUCTION.sh
Due: check-secrets

Make tests runnable without coverage plugin and add safe defaults
  config.py
  pytest.ini
  requirements-production.txt
Due: prevent-eval, check-secrets

fix(perf): Correction CPU 100% en production
  FIX_CPU_100_PRODUCTION.md
  config.py
  src/performance_metrics.py
Due: prevent-eval, check-secrets

Dockerfile.production: adaptation Runway (PORT dynamique, healthcheck)
  Dockerfile.production
Due: none

Sécurité: CVE (fastapi, cryptography, urllib3) + scripts/start.sh pour build Docker
  app/requirements.txt
  monitoring/requirements.monitoring.txt
  pyproject.toml
  requirements-production.txt
  scripts/start.sh
Due: check-secrets

Dockerfile: copier requirements-production.txt pour pip -r hostinger
  Dockerfile
Due: none

Runway 502: lifespan résilient (RAG lazy) + reindex_all + scripts rebuild MongoDB/Redis
  app/main.py
  scripts/rebuild_mongodb.py
  scripts/rebuild_redis.py
  src/mongo_operations.py
  src/rag.py
Due: prevent-eval, check-secrets

fix(rag): parse ALLOWED_ORIGINS from env as str (CSV/JSON) to avoid SettingsError
  config/rag_config.py
Due: prevent-eval, check-secrets

fix(rag): rename allowed_origins_raw field (no leading underscore for Pydantic v2)
  config/rag_config.py
Due: prevent-eval, check-secrets

fix(startup): make LNBITS_INKEY and JWT_SECRET optional at boot
  app/auth.py
  app/db.py
Due: prevent-eval, check-secrets

fix(deploy): ImportError get_database depuis config.database
  app/routes/daily_reports.py
  app/services/daily_report_generator.py
  config/database/__init__.py
  config/database/mongodb.py
Due: prevent-eval, check-secrets

fix(deploy): imports auth et database pour déploiement
  app/routes/daily_reports.py
  app/routes/lightning_scoring.py
Due: prevent-eval, check-secrets

fix(main): utiliser get_logger() dans except chatbot pour éviter NameError
  app/main.py
Due: prevent-eval, check-secrets

fix(docker): healthcheck Redis avec mot de passe + MongoDB/Redis dans local
  docker-compose.local.yml
  docker-compose.production.yml
Due: check-secrets

fix: MongoDB SSL PyMongo 4 + chemin robuste prompt-rag.md
  config/database/mongodb.py
  src/rag.py
Due: prevent-eval, check-secrets

fix: Docker prompt-rag.md, Pydantic v2, log RAG en debug
  .dockerignore
  config/models/base.py
  config/models/database.py
  src/rag.py
Due: prevent-eval, check-secrets

fix(logs): réduire le bruit au démarrage (MongoDB, RAG, FeeOptimizer)
  app/routes/fee_optimizer_api.py
  app/services/daily_report_generator.py
  app/services/rag_service.py
  config/database/mongodb.py
  src/mongo_operations.py
Due: prevent-eval, check-secrets

ci: stabiliser workflows (flake8, pytest, doctest, asyncio)
  .github/workflows/deploy-production.yml
  .github/workflows/tests.yml
  pytest.ini
Due: check-secrets

ci: codecov uniquement si tests OK (if: success()), passage à codecov-action@v4
  .github/workflows/tests.yml
Due: check-secrets

fix(logs): Chatbot et MongoDB localhost en debug
  app/main.py
  config/database/mongodb.py
Due: prevent-eval, check-secrets
